/* Tablet */
@media (min-width: 740px) and (max-width:1023px){
	.modal {
		width: 600px;
	}
}

/* Mobile */
@media (max-width: 46.1875em){
	.section,
	#contact .form-fill {
		width: 100%;
	}

	.row {
		flex-direction: column;
	}

	#nav .home-button {
		display: inline-block;
	}

	#nav > li,
	#nav {
		display: block;
	}

	#header {
		overflow: hidden;
	}

	#header .search-icon,
	#nav .subnav {
		display: none !important;
	}

	#header .mobile-menu {
		padding: 12px 24px;
		position: absolute;
		top: 0;
		right: 0;
		display: block;
	}

	#slider .slider-content,
	#contact .row > div {
		padding: unset !important;
	}

	#tour .ticket-item,
	#contact .contact-info {
		padding: unset;
		margin-bottom: 16px;
	}

	.modal {
		width: 400px;
	}
}