/* Mobile */
@media (max-width: 46.1875em){
	.btn {
		padding: 15px;
	}

	.two-col, .three-col {
		width: 100%;
	}

	#nav > li,
	#nav {
		display: block;
	}

	#nav .menu-icon {
		display: none;
	}

	#header {
		overflow: hidden;
	}

	#header .search-icon {
		display: none;
	}

	#header .mobile-menu {
		padding: 14px 24px;
		position: absolute;
		top: 0;
		right: 0;
		display: block;
	}

	#slider .text-content {
		padding: unset;
	}

	#tour .ticket-item,
	#contact .contact-info {
		margin-bottom: 16px;
	}
	
	#form-control {
		padding: 15px;
	}
}