/* Reset Css */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* Reset Css */

/* Common */
html {
	font-family: Verdana,sans-serif;
	font-size: 15px;
	line-height: 1.5;
	scroll-behavior: smooth;
}

body {
	font-family: Lato, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Segoe UI,Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.text-white {
	color: #fff !important;
}

.text-center {
	text-align: center !important;
}

.m-15-0 {
	margin: 15px 0 !important;
}

.btn {
	padding: 10px 16px;
	background-color: #000;
	text-decoration: none;
	border: none;
	cursor: pointer;
	color: #fff;
	font-size: 15px;
}

.btn:hover {
	background-color: #ccc !important;
	color: #000 !important;
}

.section {
	width: 800px;
	margin: 0 auto;
	padding: 64px 16px;
}

.fr	{
	float: right !important;
}

.o-6 {
	opacity: 0.6 !important;
}

.p-32-0 {
	padding: 32px 0;
}

.header {
	font-size: 30px;
	letter-spacing: 4px;
}

.row {
	display: flex;
	justify-content: space-between;
}

.row::after {
	display: block;
	clear: both;
	content: "";
}

.full {
	width: 100%;
}

.half {
	flex: 1;
}
/* Common */

/* Header */
#header {
	height: 46px;
	background: black;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

/* Navigation */
#nav, .subnav {
	list-style-type: none;
}

#nav, #nav > li{
	display: inline-block;
}


#nav li:hover .subnav {
	display: block;
}

#nav #button-more,
#nav > li > a {
	display: block;
	padding: 12px 24px;
	text-transform: uppercase;
}

#nav #button-more{
	padding: 4px 8px;
	background-color: inherit;
	color: inherit;
}

#nav .subnav {
	display: none;
	top: 46px;
	margin-left: -16px;
	position: absolute;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#nav .subnav a{
	color: #000;
	min-width: 160px;
	display: block;
	background-color: #fff;
}
/* Navigation */

#header .mobile-menu {
	display: none;
}

#header .search-icon {
	padding: 12px 24px;
}

#header .search-icon:hover {
	background-color: red !important;
}
/* Header */

/* Slider */
#slider {
	margin-top: 46px;
	position: relative;
	padding-top: 50%;
}

#slider2, #slider3 {
	display: none;
}

#slider .slider-img {
	position: absolute;
	top: 0;
}

#slider .slider-content {
	position: absolute;
	bottom: 0;
	padding: 32px;
	text-shadow: 0 0 1px black;
}

#slider .text-header {
	font-size: 24px;
}
/* Slider */

/* Content */
/* Band */
#band .member-img {
	width: 60%;
	border-radius: 4px;
}

#band .about {
	text-align: justify; 
}
/* Band */

/* Tour */
#tour .tour-ticket {
	background-color: #fff;
	color: #757575;
	list-style-type: none;
	margin-top: 32px;
}

#tour .tour-ticket li {
	border-bottom: 1px solid #ddd;
	padding: 8px 16px;
}

#tour .sold-out {
	background-color: red;
	margin-left: 16px;
	padding: 3px 8px;
}

#tour .remain {
	margin-right: 16px;
	background-color: #000;
	border-radius: 50%;
	padding: 0px 8px;
}

#tour .ticket-item {
	padding: 0 8px;
}

#tour .ticket-img {
	display: block;
}

#tour .ticket-img:hover {
	opacity: 0.6;
}

#tour .ticket-content {
	background-color: #fff;
	padding: 16px;
}
/* Tour */

/* Contact */
#contact .contact-info {
	font-size: 18px;
}

#contact [class*="ti-"] {
	margin-right: 14px;
}

#contact .form-fill {
	padding: 11px;
	border: 1px solid #ccc;
}
/* Contact */
.map {
	filter: grayscale(50%);
}
/* Content */

/* Footer */
#footer {
	padding: 64px 16px;
}

#footer .link-list {
	font-size: 24px;
}

#footer a {
	color: #000;
}

#footer .link-list i:hover,
#footer p {
	opacity: 0.5;
}
/* Footer */

/* Modal */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
	display: none;
	z-index: 1;
}

.modal {
	background-color: #fff;
	width: 900px;
	position: relative;
	animation: modalFadeIn ease 0.5s;
	margin: auto;
}

.modal-header {
	padding: 32px 16px;
	background-color: #009688;
}

.modal .close-icon {
	background-color: inherit;
	top: 0;
	right: 0;
	position: absolute;
}

.modal .modal-container {
	padding: 0 16px;
}

.modal input {
	padding: 10px;
	font-size: 15px;
	border: 1px solid #ccc;
}

.modal .pay {
	background-color: #009688;
	padding: 16px;
}

.modal .modal-close {
	background-color: red;
}
/* Animation */
@keyframes modalFadeIn {
	from {
		transform: translateY(-150px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
/* Animation */
/* Modal */